.feed-container{
    /* background-color: salmon; */
    flex: 7;
    margin:20px;
    min-height: 100vh;
    /* background-color: black; */
}

.feednoPost{
    background-color: rgba(102, 51, 153, 0.884);
    color: whitesmoke;
    font-weight: 500;
    font-size: 13px;
    margin-top: 30px;
    text-align: center;
    padding: 15px 0px;
    cursor: pointer;
}