.addImg{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: green;
    font-weight: 600;
    cursor: pointer;
}

.addImgIcon{
    margin-right: 5px;
}

.postBottomBtn.isSave{
    opacity: 1;
    color: royalblue;
    font-size: 20px;   
}